{% extends 'layout/main.html' %} {% block content %}

<h1>Phone Numbers</h1>
<form class="form" method="POST">
  {% csrf_token %} {% for field in form %}
  <!-- Input:Text -->
  <div class="form__field">
    <label for="formInput#text">{{field.label}}</label>
    {{field}}
  </div>
  {% endfor %}
  <input class="btn btn--sub btn--lg my-md" type="submit" value="Submit" />
</form>
{% for n in telephones %}
<span>
  <p>{{n.name}} - {{n.target_number}}</p>
</span>
{% endfor%} {% endblock content %}
